<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>Thanks for your interest in MOHI Ultimate, <%= @user.first_name %></h2>
<p>
  The coaches will be notified and should be getting in touch with you in the next couple of days.
</p>
<p>Thanks for your interest and have a great day!</p>
</body>
</html>