<div id="pdf-link">

  <%= link_to 'Home', root_path %>  |  

  <%= link_to asset_path("/pdfs/travel_form_#{@player_name_no_whitespace}.pdf") do %>
    View PDF
  <% end %>
</div>

<%= form_tag '/travel_forms', readonly: true do %>

  <%= render partial: 'form' %>

<% end %>
