<h1>Signed Documents Index</h1>

<table class="table-borders">
  <thead>
  <tr>
    <th>Player Name</th>
    <% PdfTemplate.all.each do |template| %>
      <th><%= template.name %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% player_user.all.each do |player| %>
    <tr>
      <td><%= player.full_name %></td>
      <% PdfTemplate.all.each do |template| %>
        <td>
          <% signed_document = SignedDocument.where(user_id: player.id, pdf_template_id: template.id).first %>
          <% if signed_document %>
            Created on: <%= signed_document.created_at.strftime('%B %-d, %Y') %>
          <% else %>
            <%= link_to template.name, new_signed_document_path(user_id: player.id, pdf_template_id: template.id) %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
