html, body {
  height: 100%;
  font-family: 'Karla', sans-serif;
}

body {
  min-height: 100%;
  position: relative;
}

header {
  background-color: black;
  overflow: hidden;
  box-shadow: 0 0 6px 3px $base-accent-color;
  h1 {
    display: block;
    float: left;
    margin: 1.25em;
    color: #FFCC00;
  }
}

.login_container {
  float: right;
  padding: .5em;
  margin: 2em;
  font-size: 1.5em;
  color: #FFCC00;
  @include button(simple);
}

main {
  @include outer-container;
  margin: 0 auto;

  #content-container {
    @include span-columns(9);
    float: left;
  }
  nav {
    @include span-columns(3);
    float: right;
    background-color: #FFFFFF;
  }
}

fieldset {
  @include span-columns(7);
}

.actions {
  @include button;
}

.table-borders {
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: lighten($table-border-color, 10);
  $table-header-color: lighten($table-background, 10);
  $table-hover-color: darken($table-background, 5);
  $table-stripe-color: darken($table-background, 4);
  $table-stripe-color-hover: darken($table-stripe-color, 5);
  $table-padding: 0.5em;

  border: $table-border;
  border-left: 0px;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: $base-border-radius;

  tbody {
    background-color: $table-background;
    tr:hover > td, tr:hover > th {
      background-color: $table-hover-color;
    }
    tr:nth-child(even) {
      background-color: $table-stripe-color;
      &:hover > td {
        background-color: $table-stripe-color-hover;
      }
    }
    a {
      color: $base-accent-color;
    }
    a:hover {
      color: darken($base-accent-color, 15);
    }
  }

  thead:first-of-type {
    tr:first-child > th:first-child {
      border-top-left-radius: $base-border-radius;
    }

    tr:first-child > th:last-child {
      border-top-right-radius: $base-border-radius;
    }
  }

  tbody:last-child {
    tr:last-child > td:first-child {
      border-bottom-left-radius: $base-border-radius;
    }

    tr:last-child > td:last-child {
      border-bottom-right-radius: $base-border-radius;
    }
  }

  thead {
    th {
      background-color: $table-header-color;
      padding: $table-padding;
      border-left: 1px solid $table-border-color;
      border-bottom: 0px;
    }
  }

  tbody {
    background-color: $table-background;

    td {
      padding: $table-padding;
      border-left: 1px solid $table-border-color;
      border-top: 1px solid $table-border-color;
      border-bottom: 0px;

      button {
        @include button(simple, $table-background);
        margin-right: 0.5em;
        display: inline-block;
        width: 100%;
        margin-bottom: .3em;
        outline: none;

        @include media($medium-screen) {
          width: auto;
          margin-bottom: 0;
        }
      }
    }
  }
}
